Repository alewis729/expense-tracker, pull requests merged in 2021-01, with the labels that each got.

#40 [i-35] Minor UX improvements in Expenses page
  apps/api/src/playground/tabs/expenses.js
  apps/api/src/resolvers/mutation/expense.js
  apps/www/src/components/AddCategoryForm/AddCategoryForm.tsx
  apps/www/src/components/AddCategoryForm/formData.ts
  apps/www/src/components/AddExpenseForm/index.js
  apps/www/src/components/AddExpenseForm/style.ts
  apps/www/src/components/ExpenseForm/ExpenseForm.tsx
  apps/www/src/components/ExpenseForm/formData.ts
  apps/www/src/components/ExpenseForm/index.js
  apps/www/src/components/ExpenseForm/style.ts
  apps/www/src/components/index.js
  apps/www/src/containers/AddExpense.tsx
  apps/www/src/containers/ExpenseFormDialog.tsx
  apps/www/src/containers/index.js
  apps/www/src/lib/utils/formatDate.ts
  apps/www/src/pages/index.tsx
Labels: api, enhancement, front

#42 [i-24] Encrypt name, description, amount of Expense
  apps/api/.env.example
  apps/api/package.json
  apps/api/src/models/expenses.js
  yarn.lock
Labels: api, enhancement, security

#45 [i-36] Home updates & general improvements
  apps/api/src/models/expenses.js
  apps/api/src/playground/tabs/expenses.js
  apps/api/src/resolvers/mutation/expense.js
  apps/api/src/schema/inputs.js
  apps/api/src/schema/typeDefs.js
  apps/www/src/components/AddCategoryForm/AddCategoryForm.tsx
  apps/www/src/components/DataTable/DataTable.tsx
  apps/www/src/components/DataTable/style.ts
  apps/www/src/components/ExpenseForm/ExpenseForm.tsx
  apps/www/src/components/ExpenseForm/formData.ts
  apps/www/src/components/ExpenseForm/style.ts
  apps/www/src/containers/ExpenseFormDialog.tsx
  apps/www/src/lib/utils/formatDate.ts
  apps/www/src/lib/utils/index.js
  apps/www/src/pages/index.tsx
  packages/data/src/currencies.js
  packages/data/src/index.d.ts
  packages/data/src/main.js
  packages/graphql/src/fragments.js
Labels: api, front

#48 [i-47] Currency selected by default
  apps/www/src/components/ExpenseForm/ExpenseForm.tsx
  apps/www/src/containers/ExpenseFormDialog.tsx
  apps/www/src/lib/utils/getCurrencyFromExpenses.ts
  apps/www/src/lib/utils/index.js
  apps/www/src/pages/index.tsx
Labels: front
